#main-page
{
	background-color:#c2c2a3;
	height:100%;

}

p.Flowchart img
{
  margin:10px 100px 50px 30px;
}

#cookie
{



}
#pothawithpassword
{
margin:0px 0px 30px 900px;
font:;

}
#cookies_deletepass
{



}