/*
  Background color: #6037A5;
*/

html{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

body{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

/* For fingerprint authentication screen */
.fingerprint-authentication{
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 999;
  background: #6037A5;
  color: #fff;
}

.fingerprint-authentication div{
  margin: auto;
  position: relative;
  top: 30%;
}

.fingerprint-authentication p{
  font-size: 24px;
  text-align: center;
}


/* For main management page */
.settings{
  height: 100%;
  overflow-y: auto; 
}

.container{
  width: 80%;
  margin: auto;
}

md-content{
  overflow: hidden;
}

md-card-header{
  font-size: 18px;
  text-align: center;
}

md-card md-card-header{
  padding-bottom: 8px;
  height: 26px;
}

md-card md-card-content{
  padding-top: 8px;
  height: 76px;
}

md-card{
  select: false;
  height: 120px;
}

.card-image{
  margin: 50% 15px;
}

.card-options{
  font-size: 24px;
}

.card-option{
   margin-top: 10px;
   cursor: pointer;
   color: #888;
  transition-duration: 300ms;
}

.card-option:hover{
  transform: scale(1.1);
  color: #000;
  transition-duration: 300ms;
  margin-left: 5px;
}

.card-options .card-option:nth-child(1){
  margin-top: 25px;
}


